.header {
  background: url("../images/flatiron.png");
  background-position:
  center;
}
h1 {
  color: White;
  text-align: center;
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;

}
a {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}
